@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #e30613;
  --color-primary-dark: #b6000d;

  --color-background: #ffffff;
  --color-background-dark: #000;

  --color-text: #0f172a;
  --color-text-light: #fbfbfb;
  --color-text-light-desc: #e2e8f0e0;
  --color-text-secondary: #64748b;

  --color-border: #e2e8f0;
  --color-muted: #f8fafc;

  --color-primary-soft: #fef2f2;
  /* Radius */
  --radius-sm: .5rem;
  --radius-md: .75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* Shadows */
  --shadow-card: 0 8px 30px rgba(0, 0, 0, .08);

  /* Fontt */
  --font-sans: var(--font-sora);

}

* {
  box-sizing: border-box;
}


body {

  font-family: var(--font-sora);

  background: var(--color-background);
  color: var(--color-text);
}

button {
  cursor: pointer;
}